/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
	
}
.hero-image img{
	width:90%;
	height:cover;
	object-fit:cover;
	
}
.button h1{
	text-align:center;
}
.button p{
		text-align:center;
}
.btn a{
	text-decoration:none;
	border:1px solid red;
	padding:10px;
	background-color:red;
	color:white;
	
}